.sidebar {
  position: fixed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: var(--primary-color);
  color: white;
  transition: transform 0.3s ease, width 0.3s ease;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1a202c;
  z-index: 50;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: var(--font-family-hollow);
  margin-left: 5px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.brandName {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-hollow);
}

.sidebar.collapsed {
  width: 45px;
  overflow: hidden;
  border-radius: 0 0 5px 0;
  background: none; 
  height: 45px;
  top: 10px;
  left: 10px;
}

.sidebar.collapsed:hover {
  background: var(--hover-color);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  
  .sidebar:not(.collapsed).mobile-open {
    transform: translateX(0);
  }
}

@media (min-width: 344px) and (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
    width: 250px;
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  
  .sidebar:not(.collapsed).mobile-open {
    transform: translateX(0);
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: #1a202c;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 6px;
}

.sidebarContent {
  padding: 1.5rem;
  padding-right: 0; 
}

.collapsed .sidebarContent {
  padding: 0.5rem;
  padding-right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.collapsed .header {
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}

.toggleButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  background-color: var(--hover-color);
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin-bottom: 0.75rem;
}

.link {
  display: block;
  color: var(--text-color-light);
  text-decoration: none;
  padding: 0.75rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link:hover:not(.activeLink) {
  background-color: var(--hover-color);
}

.activeLink {
  background-color: #3182ce;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}