.sidebar {
  position: fixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
  top: 0;
  width: 270px;
  height: 100vh;
  background: var(--primary-color); 
  color: var(--text-color-light);
  transition: transform 0.3s ease, width 0.3s ease;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--hover-color) var(--primary-color); 
  z-index: 50;
  box-shadow: 0 4px 12px var(--shadow-color); 
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--button-text); 
  font-size: 1.5rem;
  font-family: var(--font-family-serif); 
  margin-left: 5px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
  border-radius: 50%; 
  border: 1px solid var(--hover-color);
}

.brandName {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-serif);
}

.sidebar.collapsed {
  width: 40px; 
  overflow: hidden;
  border-radius: 0 8px 8px 0; 
  background: var(--primary-color);
  height: 40px; 
  top: 10px;
  left: 10px;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.sidebar.collapsed:hover {
  background: linear-gradient(to right, var(--primary-color), var(--hover-color)); 
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
    width: 250px; 
  }
  
  .sidebar.mobileOpen {
    transform: translateX(0);
  }
}

@media (min-width: 344px) and (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
    width: 250px;
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  
  .sidebar.mobileOpen {
    transform: translateX(0);
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--hover-color); 
  border-radius: 6px;
}

.sidebarContent {
  padding: 1.5rem;
  padding-right: 0; 
}

.collapsed .sidebarContent {
  padding: 0.5rem;
  padding-right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.collapsed .header {
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}

.toggleButton {
  background: none;
  border: none;
  color: var(--button-text); 
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: var(--hover-color); 
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin-bottom: 0.75rem;
}

.link {
  display: block;
  color: var(--text-color-light); 
  text-decoration: none;
  padding: 0.75rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-cabin); 
}

.link:hover:not(.activeLink) {
  background-color: var(--hover-color); 
  color: var(--primary-color); 
}

.activeLink {
  background-color: var(--button-color); 
  color: var(--button-text); 
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 40;
}